<%= form_for [:admin, @subject], html: {class: "form-horizontal"} do |f| %>
  <%= render "shared/error_notice", object: @subject %>
  <div class="form-group">
    <%= f.label :title, t("form.title"), class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t("form.description"), class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <h3>
    <%= t("subject.tasks") %>
  </h3>
  <%= f.fields_for :tasks do |builder| %>
    <%= render "admin/subjects/task_fields", f: builder %>
  <% end %>
  <% unless @subject.in_actived_course? %>
    <%= link_to_add_fields t("subject.create_task"), f, :tasks %>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit t("form.submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
