<div class="center jumbotron">
<% if user_signed_in? %>
  <h3><%= t "user.my_course" %> </h3>
  <% @courses.each do |user_course| %>
    <p>
      <%= user_course_status user_course %>
    </p>
  <% end %>
<% else %>
  <h1><%= t "home_page.welcom" %></h1>
  <h2>
    <%= t "home_page.welcom1" %>
    <a href="http://www.railstutorial.org/"><%= t "ruby_on_rails" %></a>
    <%= t "home_page.welcom2" %>
  </h2>
<% end %>
</div>
