<h3>
  <%= @user_course.course.title %>
</h3>
<%= course_notice @user_course %>
<div class="well">
  <%= @user_course.course.description %>
</div>
<h3>
  <%= t "user.all_user_in_course" %>
</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <%= t "table.name" %>
    </th>
  </tr>
  </thead>
  <tbody>
    <% @trainee_in_course.each do |trainee| %>
      <tr>
        <td>
          <%= link_to(trainee.name, trainee) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @trainee_in_course %>
<div class="row">
  <div class="col-md-7">
    <div class="well">
      <h3 class="center">
        <%= t "user.my_subject" %>
      </h3>
      <% @user_subjects.each do |user_subject| %>
        <p>
          <%= user_subject_status user_subject %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="well">
      <h3 class="center">
        <%= t "user.activities"%>
      </h3>
      <%= render "activities_course" %>
    </div>
  </div>
</div>
