<h3>
  <%= @user_course.course.title %>
</h3>
<%= course_notice @user_course %>
<div class="well">
  <%= @user_course.course.description %>
</div>
<h3><%= t "user.my_subject" %></h3>

<% @user_subjects.each do |user_subject| %>
  <p><%= user_subject_status user_subject %></p>
<% end %>
