<h2 class="flow-text center-align" >
  <%= t "layout.sign_in" %>
</h2>
<%= form_for resource, as: resource_name, 
  url: session_path(resource_name) do |f| %>
  <div class="row">
    <div class="input-field col s12 m8 l10 offset-m2 offset-l1">
      <i class="material-icons prefix red-text text-lighten-2">email</i>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m8 l10 offset-m2 offset-l1">
      <i class="material-icons prefix red-text text-lighten-2">vpn_key</i>
      <%= f.label :password %>
      <%= f.password_field :password, autofocus: true, 
        autocomplete: "off" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m8 l10 offset-m2 offset-l1 right-align">
      <%= button_tag class: "red lighten-2 waves-effect waves-light 
        btn-large" do %>
        <i class="material-icons right">input</i>
        <%= t "layout.sign_in" %>
      <% end %>
    </div>
  </div>
<% end %>
