<div class="container">
  <div class="row">
    <h3>
      <%= @course_subject.subject.title %>
    </h3>
    <br>
    <div class="well">
      <%= @course_subject.subject.description %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= t "subject.tasks" %>
      </h3>
    </div>
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <%= t "table.title" %>
            </th>
            <th>
              <%= t "table.description" %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @tasks %>
        </tbody>
      </table>
      <%= will_paginate @tasks %>
    </div>
  </div>
</div>
