<tr>
  <td>
    <%= link_to course.title, [:admin, course] %>
  </td>
  <% if can? :manage, :all %>
    <td>
      <%= link_to t("table.update"), edit_admin_course_path(course) %>
    </td>
    <td>
      <%= link_to t("table.delete"), [:admin, course], method: :delete,
        data: {confirm: t("confirm")} %>
    </td>
  <% end %>
  <td id="course-status-form-<%= course.id %>">
    <%= render "status_form", course: course %>
  </td>
</tr>
