<%= form_for [:admin, @course], html: {class: "form-horizontal"} do |f| %>
  <%= render "shared/error_notice", object: @course %>
  <div class="form-group">
    <%= f.label :title, t("form.title"), class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t("form.description"), class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <h3>
    <%= t "subject.all_subject" %>
  </h3>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12">
        <%= f.collection_check_boxes :subject_ids, @subjects, :id, :title %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit t("form.submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
