<footer class="red lighten-2">
  <div class="container">
    <div class="row section-p-20 margin-bottom-0">
      <div class="col s12 m12 l4">
        <div class="center-align">
          <a href="/">
            <%= image_tag "framgia_logo.png", class: "responsive-img" %>
          </a>
        </div>
      </div>
      <div class="col s12 m12 l8">
        <div class="center-align white-text">
          <h2 class="flow-text">
            <%= t "footer.title" %>
          </h2>
          <h3 class="sub-title">
            <%= t "footer.sub_title" %>
          </h3>
          <p class="left-align">
            <%= t "footer.content" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="sub-footer red lighten-1">
  <div class="container section-p-10">
    <p class="center-align white-text margin-0">
      <%= t "footer.copyright" %> 
      <a href=<%= t "footer.link" %> class="orange-text">
        <%= t "footer.designer" %>
      </a>
    </p>
  </div>
</div>
