<nav>
  <div class="nav-wrapper">
    <div class="container flow-text">
      <%= link_to root_url, class: "brand-logo" do %>
        <i class="material-icons left">invert_colors</i> 
        <%= t "layout.tms" %>
      <% end %>
      <a href="#" data-activates="mobile-menu" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li>
              <%= link_to admin_root_path, 
                class: "waves-effect waves-light" do %>
                <i class="material-icons left">recent_actors</i> 
                <%= t "admin" %>
              <% end %>
            </li>
          <% elsif current_user.supervisor? %>
            <li>
              <%= link_to admin_root_path, 
                class: "waves-effect waves-light" do %>
                <i class="material-icons left">recent_actors</i> 
                <%= t "supervisor" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to users_path, 
                class: "waves-effect waves-light" do %>
                <i class="material-icons left">group</i> 
                <%= t "user.all_users" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to current_user, 
              class: "waves-effect waves-light" do %>
              <i class="material-icons left">contacts</i> 
              <%= t "layout.profile" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, 
              class: "waves-effect waves-light" do %>
              <i class="material-icons left">power_settings_new</i> 
              <%= t "layout.sign_out" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to user_session_path, 
              class: "waves-effect waves-light" do %>
              <i class="material-icons left">input</i> 
              <%= t "layout.sign_in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <li>
          <a href="#" class="close-nav" >
            <i class="material-icons left">close</i> 
            <%= t "layout.close" %>
          </a>
        </li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li>
              <%= link_to admin_root_path do %>
                <i class="material-icons left">recent_actors</i> 
                <%= t "admin" %>
              <% end %>
            </li>
          <% elsif current_user.supervisor? %>
            <li>
              <%= link_to admin_root_path do %>
                <i class="material-icons left">recent_actors</i> 
                <%= t "supervisor" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to users_path do %>
                <i class="material-icons left">group</i> 
                <%= t "user.all_users" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to current_user do %>
              <i class="material-icons left">contacts</i> 
              <%= t "layout.profile" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons left">power_settings_new</i> 
              <%= t "layout.sign_out" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to user_session_path do %>
              <i class="material-icons left">input</i> 
              <%= t "layout.sign_in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
